<header class="header">
  <div class="header-content">
    <div class="mobile-menu-btn">
      <button class="mobile-menu-btn" (click)="toggleMobileMenu()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="header-left">
      <button class="toggle-sidebar-btn" (click)="toggleSidebarClick()">
        <i class="fas fa-bars"></i>
      </button>
      <h1 class="page-title">{{ pageName }}</h1>
    </div>
    <button class="action-btn" (click)="navigateToCreateTask()">
      Nueva tarea
    </button>
    <button style="margin-left: 10px;" class="action-btn" (click)="navigateToCreateHabit()">
      Nuevo hábito
    </button>
    <button class="action-btn" (click)="navigateToStreakMetrics()">
      Ver rachas
    </button>
    <div class="header-right">
      <div class="user-info">
        <span class="user-name hide-mobile">{{ userName }}</span>
        <button class="user-avatar">
          <i class="fas fa-user"></i>
        </button>
      </div>
    </div>
  </div>
</header>
